<%= turbo_frame_tag :modal do %>
  <%# 응답 받아서 보여줘야할 템플릿에는 do %>
  <div id="to_close_modal" data-controller="turbomodal" class="card" data-action="turbo:submit-end->turbomodal#submitEnd">
    <h1>Editing post</h1>
      <%= render "form", post: @post %>
      <br>
      <div>
        <%= button_to "Close", modalClose_path, method: :post %>  
      </div>
  </div>
<% end %>
